@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(251, 244, 229);
}

body {
  background-color: var(--bg-color);
  background-image: radial-gradient(circle at 0% 100%, rgb(233, 32, 29), transparent 40%);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
